.ingredient {
  .rs-tag {
    padding: 1px 7px;
    border-radius: 3px;
    margin-right: 10px;

    .rs-tag-text {
      font-size: 14px !important;
    }
  }

  .ingredient-special {
    margin: 8px 0px 8px 20px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    color: #a3a6db;
  }
}
